@model IEnumerable<Tuple<Scheduler.Models.Custom.Dialogue, Scheduler.Models.Custom.UserInfo>>
@{
    ViewBag.Title = "User dialogues";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}

<div class="row">
    <div class="col-sm-8 col-xs-12 col-sm-push-2 info_block" style="max-height: 500px; min-height: 500px; overflow-x: hidden; overflow-y:scroll; margin: 10px; padding: 10px;" id="dialogues_container">
        @if (Model.Count() == 0)
        {
            <p style="text-align: center">No dialogues were found</p>
        }
        else
        {
            foreach (var el in Model)
            {

                string otherMail = el.Item1.Writer1.Email == User.Identity.Name ? el.Item1.Writer2.Email : el.Item1.Writer1.Email;

                <div class="row" id="dialogue_@el.Item1.Id">
                    <div class="col-sm-10 col-sm-push-1 col-xs-12" style="border: 2px solid green; border-radius: 5px; margin: 10px; padding: 10px;background-color: aliceblue;">
                        <span style="cursor: pointer" class="glyphicon glyphicon-remove pull-right" id="remove_@el.Item1.Id"></span>
                        <div class="row" style="cursor: pointer" onclick="location.href='@Url.Action("DialoguePage", "Main", new { recipientMail = otherMail })'">
                            <div class="col-xs-4">
                                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(el.Item2.Avatar))" id="img_@el.Item1.Id" class="img-circle img-responsive" />
                            </div>
                            <div class="col-xs-8" style="word-break: break-all">

                                <p><b>@el.Item2.FirstName @el.Item2.LastName</b></p>
                                <p><b>Last message sent on: </b> @el.Item1.LastMessageTime</p>
                                @if (el.Item1.LastMessageSender == User.Identity.Name)
                                {
                                    <p><b>Sender: </b>You</p>
                                }
                                else
                                {
                                    <p><b>Sender:</b> @el.Item2.FirstName @el.Item2.LastName</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


@section scripts{
    
    <script type="text/javascript">

        $(document).ready(function () {

            $('span[id^="remove"]').click(function (e) {
                e.preventDefault();

                var id = $(this).attr('id').split('_')[1];

                var toPass = {
                    DialogueId: id,
                    LastDeletionTime: new Date(),
                    UserEmail: '@User.Identity.Name'
                };

                $.ajax({
                    method: 'DELETE',
                    url: '/api/Dialogues/RemoveDialogue',
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        Authorization: 'Bearer ' + getCookie('access_token')
                    },
                    dataType: 'json',
                    data: JSON.stringify(toPass),
                    success: function (res) {
                        window.location = '@Url.Action("UserDialogues", "Main")';
                    },
                    error: function (res) {
                        displayMessage("Error", "Internal server error");
                    }
                });
            });
        });

    </script>
    
    }