<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #77CED4;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Scheduler", "StartPage", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("New target", "CreateTarget", "Main", null, null)</li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Notifications</a></li>
                    <li><a href="#" id="log_out"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align: center">&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">

        function deleteCookie(name) {
            document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        $(document).ready(function () {
            $("#log_out").click(function () {
                $.ajax({
                    method: 'POST',
                    url: '/api/Account/Logout',
                    headers: {
                        Authorization: 'Bearer ' + getCookie('access_token')
                    },
                    success: function (res) {
                        deleteCookie('access_token');
                        window.location = '@Url.Action("StartPage", "Main")';
                    },
                    error: function (res) {
                        alert("An error has occured");
                    }
                });
            });
        });

        function displayMessage(aTitle, aText) {
            if (aTitle == "Success") {
                $.growl.notice({ title: aTitle, message: aText });
            }
            else if (aTitle == "Warning") {
                $.growl.warning({ title: aTitle, message: aText });
            }
            else if (aTitle == "Error") {
                $.growl.error({ title: aTitle, message: aText });
            }
            else {
                $.growl({ title: aTitle, message: aText });
            }
        }

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
