<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #77CED4;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Scheduler", "StartPage", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#signInModal">Sign in</a></li>
                    <li>@Html.ActionLink("Sign up", "Register", "Main", null, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <ol class="breadcrumb" style="position: fixed;width: 100%;z-index: 1000;">
        <li><a href="#block1">Scheduler</a></li>
        <li><a href="#block2">Plan your day</a></li>
        <li><a href="#block3">Set new targets</a></li>
        <li><a href="#block4">Meet like-minders</a></li>
        <li><a href="#block5">Analyze your productivity</a></li>
        <li><a href="#block6">Get useful tips</a></li>
    </ol>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align: center">&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

        function displayMessage(aTitle, aText) {
            if (aTitle == "Success") {
                $.growl.notice({ title: aTitle, message: aText });
            }
            else if (aTitle == "Warning") {
                $.growl.warning({ title: aTitle, message: aText });
            }
            else if (aTitle == "Error") {
                $.growl.error({ title: aTitle, message: aText });
            }
            else {
                $.growl({ title: aTitle, message: aText });
            }
        }

        $(document).ready(function () {
            var ok = false;
            $("#sign_in").click(function () {
                $.ajax({
                    method: "POST",
                    url: "/token",
                    contentType: "application/json",
                    data: {
                        username: $('#usr').val(),
                        password: $('#pwd').val(),
                        grant_type: 'password'
                    },
                    success: function (res) {
                        document.cookie = "access_token=" + res.access_token;
                        $("#loadingModal").modal("show");
                        var myAppHub = $.connection.appHub;
                        myAppHub.client.hello = function () {
                            alert("Hello!");
                        };
                        $.connection.hub.start().done(function () {
                            var email = $('#usr').val();
                            myAppHub.server.addOnlineUser(email);
                            window.location.href = '@Url.Action("AccountPage", "Main")';
                        }).fail(function () {
                            alert("Connection failed");
                        });
                    },
                    error: function (xhr, error, message) {
                    }
                });
            });

            $('a[href^="#block"]').click(function (e) {

                e.preventDefault();

                $("body").animate({ scrollTop: $($(this).attr('href')).position().top - 50 }, '500');

            });

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
